.u_fill {
  &-theme2 {
    fill: $palet2;
  }

  &-tw {
    fill: $palet_tw;
  }

  &-fb {
    fill: $palet_fb;
  }

  &-line {
    fill: $palet_line;
  }

  &-hatena {
    fill: $palet_hatena;
  }

  &-fff {
    fill: #fff;
  }
}
